<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
	  <add key="HostAddress" value="le.huyhaianh.df@gmail.com" />
	  <add key="ClientInfo" value="E:\gitlab\CvManagement\CVManagement\CVManagementAPI\Resources\Gmail\client_secret.json" />
	  <add key="CredentialsInfo" value="E:\gitlab\CvManagement\CVManagement\CVManagementAPI\Resources\Gmail\CredentialsInfo\" />
	  <add key="GmailAttach" value="E:\gitlab\CvManagement\CVManagement\CVManagementAPI\Resources\Gmail\GmailAttachment\" />
	  <add key="MailCcToBOD" value="kim.ngominh.df@gmail.com" />
  </appSettings>
</configuration>




    





















<!--<add key="AWSAccessKey" value="AKIAITCEH3FOYMWMM6AA" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRegion" value="USEast1" />
    <add key="BucketName" value="n2hivefiles" />
    <add key="GmailAttach" value="C:\GmailAPI\GmailAttachment\" />-->
